.App {
	max-width: 980px;
	margin: 0 auto;
}

nav {
	background-color: #000076;
}

nav ul {
	list-style-type: none;
	display: flex;
	gap: 1rem;
	align-items: center;
	padding: 2rem;
	font-size: 1.5rem;
}

nav ul a {
	color: #fff;
	text-decoration: none;
}

nav ul a:hover {
	color: gold;
}
